html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  color: #61727f;
  background: #f4f7f7;
  font-size: 14px;
  line-height: 1;
  position: relative; }

html, body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a._current {
  color: #3452ff !important; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  margin: .67em 0;
  font-size: 2em; }

mark {
  color: #000;
  background: #ff0; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0; }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

._container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
  clear: both;
  height: 100%; }
  @media only screen and (min-width: 768px) {
    ._container {
      width: 750px; } }
  @media only screen and (min-width: 992px) {
    ._container {
      width: 970px; } }
  @media only screen and (min-width: 1200px) {
    ._container {
      width: 1170px; } }

._columnLarge-1,
._columnLarge-2,
._columnLarge-3,
._columnLarge-4,
._columnLarge-5,
._columnLarge-6,
._columnLarge-7,
._columnLarge-8,
._columnLarge-9,
._columnLarge-10,
._columnLarge-11,
._columnLarge-12,
._columnMedium-1,
._columnMedium-2,
._columnMedium-3,
._columnMedium-4,
._columnMedium-5,
._columnMedium-6,
._columnMedium-7,
._columnMedium-8,
._columnMedium-9,
._columnMedium-10,
._columnMedium-11,
._columnMedium-12,
._columnSmall-1,
._columnSmall-2,
._columnSmall-3,
._columnSmall-4,
._columnSmall-5,
._columnSmall-6,
._columnSmall-7,
._columnSmall-8,
._columnSmall-9,
._columnSmall-10,
._columnSmall-11,
._columnSmall-12 {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  height: 100%; }

@media only screen and (min-width: 1200px) {
  ._columnLarge-12 {
    width: 100%; } }

@media only screen and (min-width: 1200px) {
  ._columnLarge-11 {
    width: 91.66666667%; } }

@media only screen and (min-width: 1200px) {
  ._columnLarge-10 {
    width: 83.33333333%; } }

@media only screen and (min-width: 1200px) {
  ._columnLarge-9 {
    width: 75%; } }

@media only screen and (min-width: 1200px) {
  ._columnLarge-8 {
    width: 66.66666667%; } }

@media only screen and (min-width: 1200px) {
  ._columnLarge-7 {
    width: 58.33333333%; } }

@media only screen and (min-width: 1200px) {
  ._columnLarge-6 {
    width: 50%; } }

@media only screen and (min-width: 1200px) {
  ._columnLarge-5 {
    width: 41.66666667%; } }

@media only screen and (min-width: 1200px) {
  ._columnLarge-4 {
    width: 33.33333333%; } }

@media only screen and (min-width: 1200px) {
  ._columnLarge-3 {
    width: 25%; } }

@media only screen and (min-width: 1200px) {
  ._columnLarge-2 {
    width: 16.66666667%; } }

@media only screen and (min-width: 1200px) {
  ._columnLarge-1 {
    width: 8.33333333%; } }

@media only screen and (min-width: 992px) {
  ._columnMedium-12 {
    width: 100%;
    float: left; } }

@media only screen and (min-width: 992px) {
  ._columnMedium-11 {
    width: 91.66666667%;
    float: left; } }

@media only screen and (min-width: 992px) {
  ._columnMedium-10 {
    width: 83.33333333%;
    float: left; } }

@media only screen and (min-width: 992px) {
  ._columnMedium-9 {
    width: 75%;
    float: left; } }

@media only screen and (min-width: 992px) {
  ._columnMedium-8 {
    width: 66.66666667%;
    float: left; } }

@media only screen and (min-width: 992px) {
  ._columnMedium-7 {
    width: 58.33333333%;
    float: left; } }

@media only screen and (min-width: 992px) {
  ._columnMedium-6 {
    width: 50%;
    float: left; } }

@media only screen and (min-width: 992px) {
  ._columnMedium-5 {
    width: 41.66666667%;
    float: left; } }

@media only screen and (min-width: 992px) {
  ._columnMedium-4 {
    width: 33.33333333%;
    float: left; } }

@media only screen and (min-width: 992px) {
  ._columnMedium-3 {
    width: 25%;
    float: left; } }

@media only screen and (min-width: 992px) {
  ._columnMedium-2 {
    width: 16.66666667%;
    float: left; } }

@media only screen and (min-width: 992px) {
  ._columnMedium-1 {
    width: 8.33333333%;
    float: left; } }

@media only screen and (min-width: 767px) {
  ._columnSmall-12 {
    width: 100%;
    float: left; } }

@media only screen and (min-width: 767px) {
  ._columnSmall-11 {
    width: 91.66666667%;
    float: left; } }

@media only screen and (min-width: 767px) {
  ._columnSmall-10 {
    width: 83.33333333%;
    float: left; } }

@media only screen and (min-width: 767px) {
  ._columnSmall-9 {
    width: 75%;
    float: left; } }

@media only screen and (min-width: 767px) {
  ._columnSmall-8 {
    width: 66.66666667%;
    float: left; } }

@media only screen and (min-width: 767px) {
  ._columnSmall-7 {
    width: 58.33333333%;
    float: left; } }

@media only screen and (min-width: 767px) {
  ._columnSmall-6 {
    width: 50%;
    float: left; } }

@media only screen and (min-width: 767px) {
  ._columnSmall-5 {
    width: 41.66666667%;
    float: left; } }

@media only screen and (min-width: 767px) {
  ._columnSmall-4 {
    width: 33.33333333%;
    float: left; } }

@media only screen and (min-width: 767px) {
  ._columnSmall-3 {
    width: 25%;
    float: left; } }

@media only screen and (min-width: 767px) {
  ._columnSmall-2 {
    width: 16.66666667%;
    float: left; } }

@media only screen and (min-width: 767px) {
  ._columnSmall-1 {
    width: 8.33333333%;
    float: left; } }

._alignRight {
  text-align: right; }

._alignCenter {
  text-align: center; }

._fixedTop {
  position: fixed;
  top: 100% !important;
  left: 0;
  right: 0; }

._fixedLeft {
  position: fixed;
  top: 100% !important;
  left: 0;
  bottom: 0; }

._absoluteLeft {
  position: absolute !important;
  left: 0 !important;
  top: 100% !important; }

._fixedRight {
  position: fixed;
  top: 100% !important;
  right: 0;
  bottom: 0; }

._absoluteRight {
  position: absolute !important;
  right: 0 !important;
  top: 100% !important; }

._fixedBottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0; }

._textCapitalize {
  text-transform: capitalize; }

._textUppercase {
  text-transform: uppercase; }

._textNoTransform {
  text-transform: none; }

._topPrimary {
  color: #fff;
  background-color: #337ab7; }
  ._topPrimary:hover {
    background-color: #286090; }

._topSucces {
  background-color: #3c763d; }
  ._topSucces:hover {
    background-color: #449d44; }

._darkerBg {
  background: #f4f7f7; }

a:hover {
  text-decoration: none; }
a:focus {
  text-decoration: none; }
a:visited {
  text-decoration: none; }
a:link {
  text-decoration: none; }

p {
  margin: 0 0 10px; }

ul {
  position: relative; }
  ul li {
    display: block; }
    ul li + ul {
      display: none; }
  ul._inline li {
    display: inline-block; }

._dropdown {
  position: relative; }

._dropdownMenu {
  position: absolute;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 20px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  ._dropdownMenu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  ._dropdownMenu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap; }

._activeDropdown {
  display: block !important; }

/*

._dropdownToggle {
		&:focus {
			& + ._dropdownMenu {
				display: block;
			}
		}
	}
	._dropdownMenu {
		& > li {
			a {
				&:hover {
					color: #262626;
					text-decoration: none;
					background-color: #f5f5f5;
				}
				&:focus {
					color: #262626;
					text-decoration: none;
					background-color: #f5f5f5;
				}
			}
		}
	}
 */
._siteContent {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  color: #61727f;
  background: #fff;
  font-size: 14px;
  line-height: 1;
  position: relative; }

._mainWrapper {
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 3.25rem; }

/* ================ Typography ================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', sans-serif;
  color: #212121;
  margin: 0 0 15px; }

h1 {
  font-size: 40px;
  line-height: 50px; }

h2 {
  font-size: 34px;
  line-height: 44px; }

h3 {
  font-size: 22px;
  line-height: 30px; }

h4 {
  font-size: 20px;
  line-height: 26px; }

h5 {
  font-size: 18px;
  line-height: 22px; }

h6 {
  font-size: 16px;
  line-height: 20px; }

._sectionPadding {
  padding-top: 25px;
  padding-bottom: 25px; }

#_headerDefault {
  border-bottom: solid 1px #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: table;
  width: 100%;
  background: #fff;
  z-index: 1035; }

._navbarTop {
  height: 50px;
  background: #3452FF;
  font-size: 14px;
  color: #FFFFFF;
  font-family: "Titillium Web",sans-serif; }

._contactTop a {
  color: #fff; }
._contactTop p {
  float: left;
  margin-right: 50px;
  line-height: 50px;
  margin-bottom: 0px; }
  @media only screen and (max-width: 768px) {
    ._contactTop p {
      line-height: 35px; } }
  ._contactTop p i {
    margin-right: 10px; }
._contactTop div {
  float: left;
  margin-right: 50px;
  margin-bottom: 0px; }

._socialIcon {
  float: none;
  display: block;
  text-align: center; }
  ._socialIcon ul {
    float: right;
    list-style: none;
    padding: 0px;
    margin: 0px; }
    @media only screen and (max-width: 768px) {
      ._socialIcon ul {
        display: inline-block;
        float: none !important;
        margin: 0; } }
    ._socialIcon ul li {
      float: left;
      margin-left: 12px; }
      ._socialIcon ul li a {
        color: #fff;
        font-size: 14px;
        width: 28px;
        height: 28px;
        text-align: center;
        margin-left: 0;
        display: block;
        transition: all .3s;
        margin-top: 11px;
        line-height: 30px; }
        ._socialIcon ul li a:hover {
          background: #fff;
          color: #3452ff;
          border-radius: 3px; }

._navbarContent {
  position: relative;
  height: 50px;
  width: 100%;
  display: contents;
  align-items: center;
  float: left;
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 0;
  overflow: visible !important; }

._topSearch {
  background-color: #222;
  padding: 10px 0;
  display: none; }
  @media only screen and (max-width: 992px) {
    ._topSearch {
      height: 55px; } }
  ._topSearch ._formGroup {
    position: relative;
    display: table;
    width: 100%; }
    @media only screen and (max-width: 992px) {
      ._topSearch ._formGroup {
        position: absolute;
        display: table;
        width: 100%;
        float: left;
        padding: 0 29px 0 14px; } }
  ._topSearch input._formControl {
    background-color: transparent;
    border: none;
    -moz-box-shadow: 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px;
    -o-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    color: #fff;
    height: 40px;
    padding: 0 15px; }
  ._topSearch ._inputGroup {
    position: relative;
    display: table;
    border-collapse: separate; }
  ._topSearch ._inputGroup_Add {
    background-color: transparent;
    border: none;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    border-radius: 4px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell; }
  ._topSearch ._inputGroup_Add._closeSearch {
    cursor: pointer; }

._formControl {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  ._formControl:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  ._formControl::-moz-placeholder {
    color: #999;
    opacity: 1; }
  ._formControl:-ms-input-placeholder {
    color: #999; }
  ._formControl::-webkit-input-placeholder {
    color: #999; }
  ._formControl::-ms-expand {
    background-color: transparent;
    border: 0; }

._formControl[disabled],
._formControl[readonly],
fieldset[disabled] ._formControl {
  background-color: #eee;
  opacity: 1; }

._formControl[disabled],
fieldset[disabled] ._formControl {
  cursor: not-allowed; }

textarea._formControl {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none; }

._navbarBottom {
  margin-bottom: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: none;
  z-index: 100;
  position: relative;
  width: 100%;
  background: #fff;
  height: 54px; }
  ._navbarBottom ._container {
    position: relative; }

._navContent {
  margin-right: 0;
  margin-left: 0;
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important; }

._navMenu {
  position: relative;
  min-height: 50px;
  margin: 0;
  float: right; }
  @media only screen and (max-width: 768px) {
    ._navMenu {
      display: none;
      float: none !important;
      padding-left: 30px;
      padding-right: 30px;
      margin: 0px -15px; } }
  ._navMenu > li {
    display: inline-block;
    margin: 20px 8px; }
    ._navMenu > li > a {
      font-family: 'PT Serif', serif;
      color: #61727f;
      font-size: 13px;
      text-transform: capitalize; }
    ._navMenu > li:hover > a {
      text-decoration: none; }

._dropdownMenu {
  display: none; }
  ._dropdownMenu li a {
    white-space: normal; }

._navbarToggle {
  background-color: transparent !important;
  border: none;
  padding: 0;
  font-size: 18px;
  position: relative;
  top: 5px; }

._navbarResponsive {
  float: left; }
  ._navbarResponsive:before {
    display: table;
    content: " "; }
  ._navbarResponsive ._navbarLogo {
    margin: 13px 0 0 10px;
    padding: 0;
    float: left; }
    @media only screen and (max-width: 768px) {
      ._navbarResponsive ._navbarLogo {
        display: block;
        text-align: center; } }

ul ._navMenu {
  position: relative;
  min-height: 50px;
  margin: 0;
  float: right; }
  ul ._navMenu li {
    display: inline-block;
    margin: 14px 0; }
    ul ._navMenu li a {
      text-transform: capitalize; }
    ul ._navMenu li:hover a {
      text-decoration: none; }

._navbarBottom ul._navMenu li.active > a:hover,
._navbarBottom ul._navMenu li.active > a:focus,
._navbarBottom ul._navMenu li.active > a {
  background-color: transparent; }

._navMenu-Actions {
  float: right;
  display: inline-block;
  margin-left: 13px;
  margin-right: -15px; }
  ._navMenu-Actions ul {
    padding: 0;
    margin: 4px 0 0 0;
    list-style: none; }
    ._navMenu-Actions ul li {
      float: left;
      display: block; }
      ._navMenu-Actions ul li a {
        color: #6f6f6f;
        display: block;
        padding: 16px 15px;
        position: relative; }
      ._navMenu-Actions ul li ._dropdown ._dropdownMenu {
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        -moz-box-shadow: 0px 0px 0px;
        -webkit-box-shadow: 0px 0px 0px;
        -o-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
        border: solid 1px #e0e0e0; }

._navbarToggle {
  display: none; }
  @media only screen and (max-width: 768px) {
    ._navbarToggle {
      display: block; } }

._isOpen {
  display: block; }

@media only screen and (max-width: 768px) {
  ._navbarResponsive {
    float: none;
    display: block;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    position: absolute;
    width: 100%; } }

@media only screen and (max-width: 768px) {
  ._navbarResponsive ._navbarToggle {
    display: inline-block;
    float: none;
    margin-right: -200px !important;
    margin-left: 10px !important;
    margin-top: 10px;
    position: absolute !important;
    left: 0; } }

@media only screen and (max-width: 768px) {
  ._navbarResponsive ._navbarLogo {
    display: inline-block;
    float: none !important;
    margin: 0;
    margin-top: 13px; } }

@media only screen and (max-width: 768px) {
  ._hiddenXs {
    display: none; } }

._defileText {
  display: block;
  overflow: hidden;
  position: relative;
  table-layout: fixed; }
  ._defileText span {
    display: block;
    -webkit-animation: linear marqueelike 10s infinite;
    -moz-animation: linear marqueelike 10s infinite;
    -o-animation: linear marqueelike 10s infinite;
    -ms-animation: linear marqueelike 10s infinite;
    animation: linear marqueelike 10s infinite;
    margin-left: -100%;
    padding: 0 5px;
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    line-height: 48px; }
  ._defileText:after {
    content: attr(data-text); }

@-webkit-keyframes marqueelike {
  0%, 100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }
@-moz-keyframes marqueelike {
  0%, 100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }
@-o-keyframes marqueelike {
  0%, 100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }
@-ms-keyframes marqueelike {
  0%, 100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }
@keyframes marqueelike {
  0%, 100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }
._navContent._isOpen {
  padding-top: 35px;
  margin-right: 0;
  margin-left: 0;
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: inherit; }
  @media only screen and (max-width: 768px) {
    ._navContent._isOpen {
      display: none; } }
  @media only screen and (max-width: 992px) {
    ._navContent._isOpen > ._navMenu {
      display: block;
      float: none !important;
      margin: 13px 0;
      padding-left: 23px;
      padding-right: 23px;
      width: 100%;
      padding: 0;
      background: #fff;
      margin-top: 21px; } }
  @media only screen and (max-width: 992px) {
    ._navContent._isOpen > ._navMenu > li {
      float: none;
      display: block;
      position: relative; } }
  @media only screen and (max-width: 992px) {
    ._navContent._isOpen > ._navMenu > li > a {
      display: block;
      border-bottom: solid 1px #e0e0e0;
      font-size: 13px;
      padding: 7px 0;
      color: #3f4b5a;
      font-family: titillium web,sans-serif; } }
  @media only screen and (max-width: 992px) {
    ._navContent._isOpen > ._navMenu > li:first-child {
      padding-top: 15px; } }
  @media only screen and (max-width: 992px) {
    ._navContent._isOpen > ._navMenu > li:last-child > a {
      margin-bottom: -15px; } }
  @media only screen and (max-width: 992px) {
    ._navContent._isOpen > ._navMenu > li._dropdown > ul._dropdownMenu {
      float: none;
      border: 0;
      box-shadow: none;
      margin: 0;
      padding: 0;
      background: none;
      position: relative; } }
  @media only screen and (max-width: 992px) {
    ._navContent._isOpen > ._navMenu > li._dropdown > ul._dropdownMenu > li {
      float: none;
      display: block;
      width: 100%;
      padding: 6px 0;
      margin: 0; } }

._navContent._isOpen {
  display: block; }

._singleIntro {
  overflow: hidden; }

._introTitle p {
  margin-bottom: 25px; }

._introImg {
  width: 100%;
  height: 222px;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s; }
  ._introImg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 82, 255, 0.8);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0; }
  ._introImg:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 82, 255, 0.8);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 1; }

._introBg1 {
  background: url(../Images/1.jpg) no-repeat; }
  @media only screen and (max-width: 992px) {
    ._introBg1 {
      background-position-x: center; } }

._introBg2 {
  background: url(../Images/2.jpg) no-repeat; }
  @media only screen and (max-width: 992px) {
    ._introBg2 {
      background-position-x: center; } }

._introBg3 {
  background: url(../Images/3.jpg) no-repeat; }
  @media only screen and (max-width: 992px) {
    ._introBg3 {
      background-position-x: center; } }

._introDetails {
  background: #fff none repeat scroll 0 0;
  border-radius: 4px;
  box-shadow: 0 2px 29px 0 rgba(15, 46, 64, 0.12);
  max-height: 210px;
  margin: -70px auto 30px;
  padding: 30px 25px;
  position: relative;
  width: 88%;
  overflow: hidden;
  border-bottom: 4px solid #fff;
  -webkit-transition: all .3s;
  transition: all .3s; }

._introSingle:hover ._introDetails {
  border-bottom: 4px solid #3452ff; }

._servicesItem {
  margin-bottom: 50px;
  overflow: hidden; }
  ._servicesItem > img {
    float: left;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    width: 70px; }
  ._servicesItem > h3 {
    margin-left: 92px;
    margin-top: 0;
    transition: all .3s; }
    ._servicesItem > h3 a {
      color: #212121;
      transition: all .3s; }
  ._servicesItem > p {
    margin-left: 92px;
    margin-top: 0;
    transition: all .3s; }

._parentCategory {
  display: block;
  position: relative; }
  ._parentCategory:before {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(77, 103, 254, 0.9); }
  ._parentCategory > img {
    width: 100%; }
  ._parentCategory > ._parentCategory_Details {
    position: absolute;
    left: 0;
    bottom: -35%;
    width: 100%;
    padding: 12px; }
    ._parentCategory > ._parentCategory_Details > h3 > a {
      color: #fff; }
    ._parentCategory > ._parentCategory_Details > a {
      color: #fff; }

._parentCategory:hover:before, ._parentCategory:hover ._parentCategory_Details {
  opacity: 1;
  visibility: visible; }

._parentCategory:hover ._parentCategory_Details {
  position: absolute;
  bottom: 0;
  margin: 15px; }

._slideHome {
  height: 200px; }
  @media only screen and (min-width: 992px) {
    ._slideHome {
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 40%, transparent), url(/Web/FrontDesign/Images/9lEh53i.jpg);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 40%, transparent), url(../Images/Slides/9lEh53i.jpg); } }

._slideHome-Content h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #fff; }
._slideHome-Content p {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff; }
  @media only screen and (min-width: 768px) {
    ._slideHome-Content p {
      width: calc(100% / 2); } }

/* Les formulaires */
._formTop > * {
  outline: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  vertical-align: baseline;
  line-height: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

._formTop ._width-20 {
  width: 20%;
  position: relative;
  float: right;
  display: inline-block; }

._fieldTop {
  position: relative;
  width: 100%;
  clear: both;
  float: left;
  margin-bottom: 20px; }

/* Input */
/* -- */
input:hover, input:focus {
  outline: none;
  border: 0; }

input, select, textarea, optgroup {
  outline: 0;
  height: 35px;
  line-height: 32px;
  font-size: .875rem;
  padding: 0 6px;
  transition: background .2s;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid #bebebe;
  background: #fff;
  font-size: 100%;
  margin: 0;
  overflow: visible;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

._formTop label {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

._formTop input::-webkit-input-placeholder {
  color: #999; }

._formTop input:focus::-webkit-input-placeholder {
  color: #ccc; }

/*-- Firefox 19 down --*/
._formTop input:-moz-placeholder {
  color: #999; }

._formTop input:focus:-moz-placeholder {
  color: #ccc; }

/*-- Firefox 19 up --*/
._formTop input::-moz-placeholder {
  color: #999; }

._formTop input:focus::-moz-placeholder {
  color: #ccc; }

/*-- IE 10+ --*/
._formTop input:-ms-input-placeholder {
  color: #999; }

._formTop input:focus:-ms-input-placeholder {
  color: #ccc; }

/*-- IE 9 --*/
._formTop .ie9-placeholder {
  color: #999 !important; }

._formTop .ie9-placeholder:focus {
  color: #ccc !important; }

input:focus ~ ._tooltip {
  opacity: 1;
  visibility: visible;
  z-index: 9999; }

input:required:valid ~ ._tooltip {
  opacity: 0;
  visibility: hidden;
  z-index: -1; }

/* All */
._fieldTop input {
  padding: 12px 20px 10px 50px;
  width: 100%;
  float: left;
  color: #333;
  font-size: 12px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: solid 1px #ddd;
  margin-top: 15px; }

._fieldTop > input:hover,
._fieldTop > input:focus {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: solid 1px #333;
  outline: none; }

._fieldTop input:hover ~ i._icon,
._fieldTop input:focus ~ i._icon {
  outline: none;
  background: transparent; }

._fieldTop input:required {
  background: #fff url(../Images/Field/required.png) no-repeat 100% 11px;
  outline: none;
  box-shadow: none; }

._fieldTop input:hover:invalid {
  background: #fff url(../../Images/Field/focused.png) no-repeat 100% 11px;
  outline: none;
  box-shadow: none; }

._fieldTop input:required:valid {
  background: #fff url(../../Images/Field/valid.png) no-repeat 100% 11px;
  outline: none;
  box-shadow: none; }

._fieldTop input:focus:invalid {
  background: #fff url(../../Images/Field/invalid.png) no-repeat 100% 11px;
  outline: none;
  box-shadow: none; }

/* Icons */
._fieldTop i._icon {
  position: absolute;
  top: 30px;
  left: 0;
  color: #333;
  background: transparent;
  font-size: 25px;
  text-align: center;
  width: 38px;
  height: 100%;
  font: normal normal normal 18px/2.2 FontAwesome; }

/* Submit */
._formTop input._sendForm {
  padding: 0;
  border: #e1e1e1;
  display: inline-block;
  position: relative;
  margin: 0.4em;
  cursor: pointer;
  background: #e1e1e1;
  color: #333;
  z-index: 0;
  transition: background 0.5s cubic-bezier(0.4, 0.93, 0.61, 0.15); }

._formTop input._sendForm:hover,
._formTop input._sendForm:focus {
  background: #a94545;
  color: #fff; }

/* Checkboxs */
input[type="checkbox"], input[type="radio"] {
  display: inline-block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 0; }

input[type="checkbox"] {
  position: absolute;
  left: -9999px; }

@media only screen and (max-width: 576px) {
  ._slideCheck {
    position: absolute !important;
    top: 0; } }
._slideCheck {
  height: 26px;
  line-height: 26px;
  background: #f0f0f0;
  position: relative;
  float: left; }

._slideCheck:after,
._slideCheck:before {
  font-size: 10px;
  text-align: center;
  position: absolute;
  z-index: 0;
  width: 50%;
  text-transform: uppercase; }

._slideCheck:before {
  content: 'Oui';
  left: 0;
  color: #222;
  top: 0; }

._slideCheck:after {
  content: 'Non';
  right: 0;
  color: #999;
  top: 0; }

._slideCheck input[type=checkbox]:checked + label {
  left: 50%;
  background: #333; }

._formTop ._slideCheck label {
  display: block;
  width: 50%;
  height: 26px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #A94545;
  content: ""; }

@media screen and (max-width: 480px) {
  ._slideCheck {
    clear: both;
    height: 30px;
    line-height: 30px; } }
/* Tooltips */
span._tooltip {
  width: auto;
  height: auto;
  white-space: nowrap;
  padding: 10px;
  font-size: 10px;
  text-align: center;
  color: #fff;
  background: #333;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  animation: dropdownOpen 0.5s ease; }

span._tooltip._tooltipDirection__Right {
  right: -30px;
  bottom: 36px;
  background: #fff;
  color: #222; }

span._tooltip._tooltipDirection__Left {
  left: 20px;
  top: -44px; }

span._tooltip._tooltipDirection__RightBottom {
  right: -30px;
  bottom: 36px;
  background: #fff;
  color: #222; }

span._tooltip:before {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 6px solid #333333; }

span._tooltip._tooltipDirection__Right:before {
  right: 30px;
  margin-left: -10px; }

span._tooltip._tooltipDirection__Right:before {
  border-top: 6px solid white; }

span._tooltip._tooltipDirection__Left:before {
  left: 20px;
  margin-right: -10px; }

/*# sourceMappingURL=Main.css.map */
