{% extends 'layout.twig' %}

{% block title "Page d'accueil" %}

{% block body %}
<h3 style="margin-bottom: 20px;">Accueil</h3>

    <p>Bienvenue sur le site ! <strong>[Site en maintenance]</strong></p>
{% endblock %}
